{% extends 'base.twig' %}

{% block main %}
  {{ post.content }}
  <div class="h-screen bg-green-500">
    <h1>Nu komt de AAP uit de mouw.</h1>
  </div>
  {# <h1 class="mb-2">
    Lorem ipsum dolor sit amet.
  </h1>
  <h2 class="mb-2">
    Lorem ipsum dolor sit amet.
  </h2>
  <h3 class="mb-2">
    Lorem ipsum dolor sit amet.
  </h3>
  <h4 class="mb-2">
    Lorem ipsum dolor sit amet.
  </h4>
  <h5 class="mb-2">
    Lorem ipsum dolor sit amet.
  </h5>
  <h6 class="mb-2">
    Lorem ipsum dolor sit amet.
  </h6>
  <p class="mb-2">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit qui
    laborum veniam voluptas perferendis quasi minus, sed autem corrupti
    consequuntur!
  </p> #}
{% endblock %}
