%transition {
  @apply duration-300;
  transition-property: visibility, opacity, transform;
  transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
}

%delay-0 {
  @apply delay-0;
}

%delay-1 {
  @apply delay-300;
}

.menu {
  $self: &;

  &.is-open {
    #{ $self }__icon {
      > span {
        @extend %delay-0;
        transform: translateY(0);

        &:first-child::before {
          @extend %delay-1;
          transform: translateY(-50%) rotate(45deg);
        }

        &:last-child::before {
          @extend %delay-1;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    #{ $self }__overlay {
      @extend %delay-0;
      @apply opacity-25;
      @apply visible;
      @apply pointer-events-auto;
    }

    #{ $self }__drawer {
      @extend %delay-0;
      @apply opacity-100;
      @apply visible;
      transform: translateY(0);
    }

    #{ $self }__content {
      @extend %delay-1;
      @apply opacity-100;
      @apply visible;
    }
  }

  &__toggle {
    @apply overflow-visible;
  }

  &__icon {
    @apply h-3;
    @apply w-6;
    @apply relative;

    > span {
      @extend %transition;
      @extend %delay-1;
      @apply absolute;
      @apply block;
      @apply w-full;
      @apply h-full;
      @apply origin-center;

      &::before {
        @extend %transition;
        @apply absolute;
        @apply block;
        @apply w-full;
        @apply bg-black;
        @apply left-0;
        @apply top-half;
        content: '';
        height: 2px;
        transform: translateY(-50%);
      }

      &:first-child {
        transform: translateY(-50%);
      }

      &:last-child {
        transform: translateY(50%);
      }
    }
  }

  &__overlay {
    @extend %transition;
    @extend %delay-1;
    @apply fixed;
    @apply top-0;
    @apply w-full;
    @apply h-full;
    @apply bg-black;
    @apply opacity-0;
    @apply invisible;
    @apply pointer-events-none;
  }

  &__drawer {
    @extend %transition;
    @extend %delay-1;
    @apply absolute;
    @apply top-full;
    @apply left-0;
    @apply w-full;
    @apply shadow-md;
    @apply bg-white;
    @apply opacity-0;
    @apply invisible;
    transform: translateY(-100%);
  }

  &__content {
    @extend %transition;
    @apply opacity-0;
    @apply invisible;
  }
}
