.menu {
  $self: &;

  &.is-open {
    #{ $self }__icon {
      > span {
        @apply delay-0;
        transform: translateY(0);

        &:first-child::before {
          @apply delay-300;
          transform: translateY(-50%) rotate(45deg);
        }

        &:last-child::before {
          @apply delay-300;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    #{ $self }__overlay,
    #{ $self }__drawer,
    #{ $self }__content {
      @apply visible;
    }

    #{ $self }__overlay,
    #{ $self }__drawer {
      @apply delay-0;
    }

    #{ $self }__drawer,
    #{ $self }__content {
      @apply opacity-100;
    }

    #{ $self }__overlay {
      @apply opacity-25;
      @apply pointer-events-auto;
    }

    #{ $self }__drawer {
      transform: translateY(0);
    }

    #{ $self }__content {
      @apply delay-500;
    }
  }

  &__icon > span,
  &__icon > span::before,
  &__overlay,
  &__drawer {
    @apply duration-300;
    @apply w-full;

    transition-property: visibility, opacity, transform;
    transition-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
  }

  &__icon > span,
  &__icon > span::before,
  &__drawer,
  &__overlay {
    @apply left-0;
  }

  &__icon > span,
  &__icon > span::before,
  &__drawer {
    @apply absolute;
  }

  &__overlay,
  &__drawer,
  &__content {
    @apply opacity-0;
    @apply invisible;
  }

  &__icon > span,
  &__overlay {
    @apply top-0;
    @apply h-full;
  }

  &__icon > span::before,
  &__overlay {
    @apply bg-black;
  }

  &__overlay,
  &__drawer {
    @apply delay-300;
  }

  &__toggle {
    @apply overflow-visible;
  }

  &__icon {
    @apply h-3;
    @apply w-6;
    @apply relative;

    > span,
    > span::before {
      @apply block;
    }

    > span::before,
    > span:first-child {
      transform: translateY(-50%);
    }

    > span {
      @apply origin-center;
      @apply delay-300;

      &::before {
        @apply top-half;
        content: '';
        height: 2px;
      }

      &:last-child {
        transform: translateY(50%);
      }
    }
  }

  &__overlay {
    @apply fixed;
    @apply pointer-events-none;
  }

  &__drawer {
    @apply top-full;
    @apply shadow-md;
    @apply bg-white;
    transform: translateY(-100%);
  }

  &__content {
    @apply duration-500;
  }
}
