@mixin fluid(
  $property,
  $min-font-size,
  $max-font-size,
  $min-vw: theme('screens.sm'),
  $max-vw: theme('screens.xl')
) {
  $font-size-diff: #{stripUnit($max-font-size - $min-font-size)};
  $screen-size-diff: #{stripUnit($max-vw)} - #{stripUnit($min-vw)};

  #{$property}: $min-font-size;

  @media screen and (min-width: $min-vw) {
    #{$property}: calc(#{$min-font-size} + #{$font-size-diff} * ((100vw - #{$min-vw}) / (#{$screen-size-diff})));
  }

  @media screen and (min-width: $max-vw) {
    #{$property}: $max-font-size;
  }
}
