$breakpoints: (
  zero: 0,
  xs: theme('screens.xs'),
  sm: theme('screens.sm'),
  md: theme('screens.md'),
  lg: theme('screens.lg'),
  xl: theme('screens.xl')
) !default;

$grid-columns: 12 !default;

.container {
  @apply w-full;
  @apply px-6;
  @apply mx-auto;
  max-width: map-get($breakpoints, 'xl');
}

.row {
  @apply flex;
  @apply flex-wrap;
  @apply -mx-4;

  &--gutterless {
    @apply mx-0;

    > .col {
      @apply px-0;
    }
  }
}

.col {
  @apply relative;
  @apply w-full;
  @apply px-4;
}

@each $breakpoint-key, $breakpoint-value in $breakpoints {
  $min-breakpoint: if($breakpoint-value != 0, $breakpoint-value, null);
  $prefix: if($min-breakpoint == null, '', '#{$breakpoint-key}\\:');

  @include media-up($breakpoint-key, $min-breakpoint) {
    .#{$prefix}col--grow {
      @apply max-w-full;
      @apply flex-grow;
      flex-basis: 0;
    }

    .#{$prefix}col--auto {
      @apply w-auto;
      @apply max-w-full;
      flex: 0 0 auto;
    }

    @for $i from 1 through $grid-columns {
      .#{$prefix}col--#{$i} {
        $num: $i / $grid-columns;
        flex: 0 0 percentage($num);
        max-width: percentage($num);
      }
    }

    @for $i from 0 through ($grid-columns - 1) {
      @if not($prefix == '' and $i == 0) {
        .#{$prefix}offset--#{$i} {
          $num: $i / $grid-columns;
          margin-left: if($num == 0, 0, percentage($num));
        }
      }
    }
  }
}
