body,
p,
small {
  font-family: 'Open Sans', #{theme('fontFamily.serif')};
  line-height: 1.5;

  @include fluid('font-size', ms(0), ms(2));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', #{theme('fontFamily.serif')};
  font-weight: 600;
  line-height: 1.3;
}

h1,
.h1 {
  @include fluid('font-size', ms(6), ms(8));
}

h2,
.h2 {
  @include fluid('font-size', ms(5), ms(7));
}

h3,
.h3 {
  @include fluid('font-size', ms(4), ms(6));
}

h4,
.h4 {
  @include fluid('font-size', ms(3), ms(5));
}

h5,
.h5 {
  @include fluid('font-size', ms(2), ms(4));
}

h6,
.h5 {
  @include fluid('font-size', ms(1), ms(3));
}

small,
.small {
  @include fluid('font-size', ms(-1), ms(1));
}

p,
.p {
  @include fluid('font-size', ms(0), ms(2));
}
